.vscode
.mypy_cache
sentence_classification/model
sentence_classification/test.ipynb
sentence_classification/__pycache__
sentence_classification/data
sentence_classification/lora_training/adapter_lora
sentence_classification/lora_training/base_model*
sentence_classification/lora_training/merged_models
token_classification/idtag
token_classification/data
token_classification/results
token_classification/base_models
token_classification/merged_models
token_classification/__pycache__
token_classification/test.ipynb
token_classification/tensorboard-report
token_classification/tensorboard_report
summarization/data/
summarization/Results
summarization/__pycache__
summarization/__pycache__/utils.cpython-310.pyc
summarization/lora_training/adapters
summarization/lora_training/base_models
summarization/lora_training/merged_models
qa_machine/data
qa_machine/results
qa_machine/base_models
qa_machine/merged_models
qa_machine/tensorboard_report
qa_machine/test.ipynb
qa_machine/__pycache__
qa_machine/example_io/answers.jsonl